/* General properties */
* {
	margin: 0;
  padding: 0;
  font-family: arial;
}

body {
  color: dimgrey;
  text-align: center;
}

a {
  text-decoration: none;
  color: purple;
}

hr {
  height: 2px;
  background-color: #ccc;
  clear: both;
}

h2 {
  text-align: center;
  color: dimgrey;
}

ul {
  list-style-type: none;
}

.amanticFont {
  font-family: 'Amatic SC', cursive;
  font-size: 300%;
}
/* ********************* */


/* Header area */
header {
  background-color: purple;
/*   margin: 0;
  padding: 0; */
  width: 100%;
  height: 80px;
  float: left;
  border: 0;
}

#list-icon {
  width: 25px;
  height: 20px;
  float: right;
  padding: 5px;
  margin: 25px 20px 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10%;
}
#list-icon:hover {
  background-color: white;
}

h1 {
  display: inline-block;
  color: whitesmoke;
  margin: 20px 0 15px 10px;
  font-family: 'Faster One', cursive, impact;
  font-weight: normal;
  font-size: 250%;
  position: absolute;
  left: 0;
}

#nav {
  text-align: center;
  background: purple;
  border-top: 2px solid rebeccapurple;
  max-width: 960px;
  margin:80px auto 0;
  padding: 10px;
  width: 90%; 
  height: 30px;
  min-width: 300px;
  border: 2px color pink;
}
nav li {
  display: inline-block;
}
.nav-links {
  display: inline-block;
  margin-top: 2px;
  padding: 5px;
  color: silver;
}
a.nav-links:hover {
  box-shadow: 0 0 5px 2px #ccc;
}
a.nav-links:active {
    background-color: white;
}
/* *********************** */


/* body */
/* Scroll to top button */
.fa-chevron-circle-up {
  position: fixed; 
  bottom: 0; 
  right: 0;
  margin: 0 5px 15px 0;
  color: purple;
  background-color: white;
  padding: 0 2px;
  border-radius: 50%;
}

/* about section */
#wrapper {
  max-width: 960px;
  min-width: 480;
  margin: 0 auto;
}

#about {
  display: block;
  background-color: silver;
  color: white;
  padding-bottom: 60px;
}

#first-para {
  display: inline-block;
  text-align: center;
  margin: 70px auto 20px;
  padding: 0 40px;
  line-height: 150%;
  font-size: 100%;
}

#about-hr {
  width: 60%;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 20px;
}

.collegeInfo1 {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  line-height: 140%;  
  font-weight: normal;
}

.collegeInfo2 {
  display: none;
}

#profile-pic {
  height: 230px;
  width: 230px;
  margin: 30px auto 0;
  background: url(http://res.cloudinary.com/rinch9/image/upload/v1498718703/Profile_picture_i3bta2.jpg);
  border-radius: 50%;
  background-size: 230px;
  box-shadow: inset 0px 0px 10px 10px rgba(0,0,0,.3);
}

/* portfolio section */
#portfolio {
  clear: both;
  background-color: ghostwhite;
  padding: 20px 10px;
}

.marginized-heading {
  margin-top: 30px;
}

.styled-hr {
  width: 400px;
  height: 3px;
  background-color: gray;
  margin: 20px auto 30px;
}

#gallery {
  width: 80%;
  margin: 0 auto;
}
#gallery li {
  margin: 40px auto;
}
.works {
  width: 100%;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.5);
}

/* contact section */
#contact {
  display: inline-block;
  background-color: ghostwhite;
  padding: 10px 5px 10px;
}

#form-section {
  margin: 0 auto 15px;
  padding: 0 20px 20px;
}

#input-section {
  margin-bottom: 30px;
  text-align: center;
}

#name, #email, #phoneNum {
  width: 350px;
  margin: 5px;
}

input[type=text], input[type=number] {
    max-width: 480px;
    padding: 5px;
    margin: 0 0 10px;
    display: inline-block;
    box-sizing: border-box;
}

#text-area {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  padding: 0 20px;
}

textarea {
  width: 90%;
  height: 150px;
  padding: 15px;
  margin-top: 10px;
  box-sizing: border-box;
  background-color: white;
  font-size: 14px;
  font-family: 'comic sans', sans-serif;
  color: dimgrey;
  resize: none;
  border: inset 1px;
}

#submit {
    background-color: white;
    border-radius: 10%;
    color: dimgrey;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0 0;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#submit:hover {
	background-color: dimgrey;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.messageForUser {
  line-height: 125%;
  padding: 0 20px;
  margin: 0 auto;
  width: 70%;
}

#before-footer {
  display: inline-block;
  width: 100%;
  background-color: silver;
  color: white;
}

#before-footer1 {
  display: block; 
  height: 150px;
  margin-top: 50px;
}

#before-footer1 p {
  font-size: 110%;
  line-height: 25px;
}

#before-footer1 a:hover {
  text-decoration: underline;
}

#before-footer2 {
  display: block;
  height: 150px;
  margin-top: 40px;
}

.styled-h2 {
  color: white;
}

.web-icons {
  background: none;
  border:solid 2px #fff;
  border-radius:50%;
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  padding: 5px;
}
.web-icons a {
  color: white;
}
.web-icons:hover{
  border:solid 2px #fff;
  background-color: #fff;
}
.web-icons:hover a {
  color: purple;
}

#web-icon-set {
  display: inline-block;
  margin: 20px auto 0;
}
/* *********************** */


/* footer section */
footer {
  width: 100%;
  background-color: purple;
  padding: 30px 20px;
  color: white;
  text-align: center;
  clear: both;  
}



/* Media Queries */
@media (min-width: 768px) {   
  #list-icon {
    display: none;
  }
  #nav {
    text-align: right;
    background: none;
    border: none;
    margin: 20px auto 0;
  }  
  #first-para {
    margin: 30px auto 20px;
    padding: 0 90px;
    font-size: 110%;
  }
  .collegeInfo1 {
    margin-top: 30px;
    font-weight: bold;
  }
  textarea {
    width: 70%;
  }  
  .messageForUser {
    width: 50%;
  }  
  #before-footer1 {
    display: inline-block;
    float: left;
    margin: 40px 5px 20px 15%;
  }
  #before-footer2 {
    display: inline-block;
    float: right;
    margin: 40px 15% 20px 5px;
  }   
  footer {
    margin-top: -4px;
  }
}


@media (min-width: 960px) {
  i.disappear {
    display: none;
  }  
  #about {
    display: inline-block;
    padding: 20px 0 40px;
  }
  div.introText {
    display: inline-block;
    float: left;
    width: 70%;
    margin-top: 35px;
  }  
  #first-para {
    text-align: right; 
    padding-right: 40px;
  }  
  #about-hr{
    float: right;
    margin-right: 40px;
  }
  .collegeInfo1 {
    display: none;
  }
  .collegeInfo2 {
    display: inline-block;
    float: right;
    margin-right: 40px;
  }   
  #profile-pic {
    display: inline-block;
    float: right;
    margin: 20px 40px 20px 0px;
  }    
  #portfolio {
    padding: 10px 0 62%;
  } 
  #gallery li {
    float: left;
    width: 40%;
    margin: 0 5% 40px;
  }
  #contactForm {
    float: left;
    width: 50%;
  }
  #form-section {
    padding: 0 20px;
  }
  #input-section {    
    text-align: left; 
    margin: 0 20px 0 40px;
  }
  #name, #email, #phoneNum {
    margin: 0;
    margin: 5px 0;
  }
  #text-area {
    display: inline-block;
    padding: 0;
    text-align: left;
    width: 380px;    
  }
  textarea {
    width: 380px;
  }
  #messageToUser {
    float: right;
    width: 35%;
    line-height: 125%;
    margin: 30px 80px 40px 0;
    padding: 0;
    background: beige;
    box-shadow: 0 0 20px 5px rgba(0,0,0,.5);    
  }
  .messageForUser {    
    padding: 10px;
    margin: 0;
    width: 90%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 140%;
  }
}